<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>System</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
     <servlet-name>LoginConfirm</servlet-name>
     <servlet-class>servlet.LoginConfirm</servlet-class>
  </servlet>
  
   <servlet-mapping>
       <servlet-name>LoginConfirm</servlet-name>
       <url-pattern>/LoginConfirm</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>StudentResearch</servlet-name>
     <servlet-class>servlet.StudentResearch</servlet-class>
  </servlet>
  
   <servlet-mapping>
       <servlet-name>StudentResearch</servlet-name>
       <url-pattern>/StudentResearch</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>TeaStuResearch</servlet-name>
     <servlet-class>servlet.TeaStuResearch</servlet-class>
  </servlet>
  
   <servlet-mapping>
       <servlet-name>TeaStuResearch</servlet-name>
       <url-pattern>/TeaStuResearch</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>TeaClassResearch</servlet-name>
     <servlet-class>servlet.TeaClassResearch</servlet-class>
  </servlet>
  
   <servlet-mapping>
       <servlet-name>TeaClassResearch</servlet-name>
       <url-pattern>/TeaClassResearch</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>TeaPracResearch</servlet-name>
     <servlet-class>servlet.TeaPracResearch</servlet-class>
  </servlet>
  
   <servlet-mapping>
       <servlet-name>TeaPracResearch</servlet-name>
       <url-pattern>/TeaPracResearch</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>AddTeacher</servlet-name>
     <servlet-class>servlet.AddTeacher</servlet-class>
  </servlet>
  
   <servlet-mapping>
       <servlet-name>AddTeacher</servlet-name>
       <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>DeleteTeacher</servlet-name>
     <servlet-class>servlet.DeleteTeacher</servlet-class>
  </servlet>
  
   <servlet-mapping>
       <servlet-name>DeleteTeacher</servlet-name>
       <url-pattern>/DeleteTeacher</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>DisplayChart</servlet-name>
      <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>DisplayChart</servlet-name>
      <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>PieChart1</servlet-name>
      <servlet-class>servlet.PieChart1</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart1</servlet-name>
      <url-pattern>/PieChart1</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>PieChart2</servlet-name>
      <servlet-class>servlet.PieChart2</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart2</servlet-name>
      <url-pattern>/PieChart2</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>PieChart3</servlet-name>
      <servlet-class>servlet.PieChart3</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart3</servlet-name>
      <url-pattern>/PieChart3</url-pattern>
  </servlet-mapping>  
  
  <servlet>
      <servlet-name>PieChart4</servlet-name>
      <servlet-class>servlet.PieChart4</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart4</servlet-name>
      <url-pattern>/PieChart4</url-pattern>
  </servlet-mapping>  
  
  <servlet>
      <servlet-name>PieChart5</servlet-name>
      <servlet-class>servlet.PieChart5</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart5</servlet-name>
      <url-pattern>/PieChart5</url-pattern>
  </servlet-mapping>  
  
  <servlet>
      <servlet-name>PieChart6</servlet-name>
      <servlet-class>servlet.PieChart6</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart6</servlet-name>
      <url-pattern>/PieChart6</url-pattern>
  </servlet-mapping>  
  
  <servlet>
      <servlet-name>CategoryChart1</servlet-name>
      <servlet-class>servlet.CategoryChart1</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CategoryChart1</servlet-name>
      <url-pattern>/CategoryChart1</url-pattern>
  </servlet-mapping>  
  
  <servlet>
      <servlet-name>CategoryChart2</servlet-name>
      <servlet-class>servlet.CategoryChart2</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CategoryChart2</servlet-name>
      <url-pattern>/CategoryChart2</url-pattern>
  </servlet-mapping>  
  
  <servlet>
      <servlet-name>PieChart7</servlet-name>
      <servlet-class>servlet.PieChart7</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart7</servlet-name>
      <url-pattern>/PieChart7</url-pattern>
  </servlet-mapping>  
  
  <servlet>
      <servlet-name>PieChart8</servlet-name>
      <servlet-class>servlet.PieChart8</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart8</servlet-name>
      <url-pattern>/PieChart8</url-pattern>
  </servlet-mapping>  
  
  <servlet>
      <servlet-name>PieChart9</servlet-name>
      <servlet-class>servlet.PieChart9</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart9</servlet-name>
      <url-pattern>/PieChart9</url-pattern>
  </servlet-mapping>  
  
  <servlet>
      <servlet-name>PieChart10</servlet-name>
      <servlet-class>servlet.PieChart10</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart10</servlet-name>
      <url-pattern>/PieChart10</url-pattern>
  </servlet-mapping> 
  
  <servlet>
      <servlet-name>PieChart11</servlet-name>
      <servlet-class>servlet.PieChart11</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart11</servlet-name>
      <url-pattern>/PieChart11</url-pattern>
  </servlet-mapping>  
  
  <servlet>
      <servlet-name>PieChart12</servlet-name>
      <servlet-class>servlet.PieChart12</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart12</servlet-name>
      <url-pattern>/PieChart12</url-pattern>
  </servlet-mapping> 
  
  <servlet>
      <servlet-name>CategoryChart3</servlet-name>
      <servlet-class>servlet.CategoryChart3</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CategoryChart3</servlet-name>
      <url-pattern>/CategoryChart3</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>PieChart13</servlet-name>
      <servlet-class>servlet.PieChart13</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart13</servlet-name>
      <url-pattern>/PieChart13</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>PieChart14</servlet-name>
      <servlet-class>servlet.PieChart14</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart14</servlet-name>
      <url-pattern>/PieChart14</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>PieChart15</servlet-name>
      <servlet-class>servlet.PieChart15</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>PieChart15</servlet-name>
      <url-pattern>/PieChart15</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>CategoryChart4</servlet-name>
      <servlet-class>servlet.CategoryChart4</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CategoryChart4</servlet-name>
      <url-pattern>/CategoryChart4</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>CategoryChart5</servlet-name>
      <servlet-class>servlet.CategoryChart5</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CategoryChart5</servlet-name>
      <url-pattern>/CategoryChart5</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>CategoryChart6</servlet-name>
      <servlet-class>servlet.CategoryChart6</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CategoryChart6</servlet-name>
      <url-pattern>/CategoryChart6</url-pattern>
  </servlet-mapping>
  
</web-app>