body{
	background-image: url("../images/2.jpg");
	background-size: cover;
}

h1 {
    margin-left: 20px;
    float: left;
}

h2 {
    float: left;
    font-size: 35px;
    color: #0066B2;
    margin-left: 15px;
    font-weight: bold;
}

span{
	float: right;
	color: #0066B2;
}